.wrapper {
  position: relative;
  margin: 0 auto; 
  max-width: 1024px;
  font-size: 17px;
}
  
.summary h4 {
  text-align: center;
}

.summary p {
  text-indent: 20px;
}

h2 {
  text-align: center;
}

.contact-information {
  float: right;
}

.summary {
  clear: right;
}

.photo {
  width: 250px;
}

.contact-information h4 {
  text-align: center;
}